@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

@theme {
  --color-background: #E5E3D2; /* Soft Beige */
  --color-secondary-background: #ededed; /* Pale Gray */
  --color-primary: #151723; /* Deep Charcoal */
  --color-accent: #f95a4d; /* Coral Red */
  --color-hover-accent: #ff8777; /* Light Salmon */
  --color-secondary: #757575; /* Cool Gray */
}

thead tr th:first-child {
  border-top-left-radius: 12px;
}

tr th:last-child {
  border-top-right-radius: 12px;
}

th,
td {
  padding: 0.25rem 0.5rem;
}
